@model IEnumerable<SPJ_ProyectoMVC.Models.Catalogo>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalogo</h1>
<h2><a asp-area="" asp-controller="Home" style="text-decoration: none; color: inherit;">Inicio</a></h2>
<p>
    <a style="text-decoration: none; color: inherit;" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IVA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IVA)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CatalogoId" style="text-decoration: none; color: inherit;">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CatalogoId" style="text-decoration: none; color: inherit;">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CatalogoId" style="text-decoration: none; color: inherit;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
